asgiref==3.4.0
confusable-homoglyphs==3.2.0
Django==1.11.29
django-bootstrap3==15.0.0
django-clearcache==1.2.1
django-registration==2.4.1
Pillow==8.2.0
psycopg2==2.8.6
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.1
