body{
  font-family: 'Viaoda Libre', cursive;
}

h1
{
  color: green;
 
}

nav{
  color:rgb(29, 210, 20);
  font-size: 25px;
  font-weight: italic;
  text-transform: uppercase;
  text-align: center;
}
a 
  a:hover{
  color: #132d74;
}